SPADS_OWNER_LOBBY_LOGIN='secretuser'
SPADS_LOBBY_LOGIN='secretuser'
SPADS_LOBBY_PASSWORD='secretpass'
SPADS_LOBBY_HOST=bar.teifion.co.uk
SPADS_REGISTRATION_EMAIL='some@email.com'
SPADS_BASEAUTOHOST_PORT=53100
SPADS_BASEGAME_PORT=53200
SPADS_BATTLENAME_PREFIX='YOURPREFIX - '
SPADS_LAN_IP=192.168.0.3
SPADS_MAX_INSTANCES=6
SPADS_TARGET_SPARES=1
SPADS_CLUSTER_PRESETS=team
SFTP_LOGIN='secretuser'
SFTP_PASSWORD='secretpass'
RCLONE_DRIVE_TOKEN='{"access_token":"something","token_type":"Bearer","refresh_token":"something","expiry":"2021-09-29T03:09:15.240635882Z"}'
