[Unit]
Description=rclone maps from google drive to spads maps location
After=network.target

[Service]
User=ubuntu
Type=oneshot
ExecStart=/usr/bin/rclone sync --drive-shared-with-me BYAR-maps:BYAR-maps /home/ubuntu/spads/var/spring/data/maps
StandardOutput=journal


