[Unit]
Description=Spads Config Updater
After=network.target

StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
User=ubuntu
Type=oneshot
ExecStart=/usr/bin/python3 /home/ubuntu/spads/spads_config_bar/spads_config_bar_updater.py -s
StandardOutput=journal


